html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
  width: 200px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  text-align: center;
  /* each rem is usually 16px, to get rem for 18px: 18/16=1.125*/
  font-size: 1.1rem;
  color: aliceblue;
  text-shadow: 1px 1px 1px black;
  border-radius: 10%;
  background-color: blueviolet;
  background-image: linear-gradient(to bottom right, rgb(0 0 0/ 0%) 30%, rgb(0 0 0/ 20%));
  border: 1px solid purple;
}
