/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

.bevan-regular {
  font-family: "Bevan", serif;
  font-weight: 400;
  font-style: normal;
}

.bevan-regular-italic {
  font-family: "Bevan", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-garamond-light {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-medium {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-garamond-semibold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-garamond-bold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-light-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
}

.cormorant-garamond-regular-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-garamond-medium-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;
}

.cormorant-garamond-semibold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
}

.cormorant-garamond-bold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
}

html{
  font-size: 10px;
}

body {
  font-family: Cormorant Garamond, serif;
  line-height: 1.6;
  letter-spacing: 1px;
  word-spacing: 1px;
}

h1, h2 {
  font-family: Bevan, serif;
  letter-spacing: 2px;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

section p{
  text-indent: 20px;
}

a {
  outline-color: transparent;
}

a:link{
  color: #a30;
}

a:visited{
  color: rgb(68, 26, 26);
}

a:focus {
  text-decoration: none;
} 

a:hover{
  text-decoration: none;
  background: rgb(241, 182, 182);
}

a:active {
  background: rgb(159, 3, 47);
  color: #ffffff;
}

a[href^="http"] {
  background: url("external-link-52.png") no-repeat 100% 0;
  background-size: 10px 10px;
  padding-right: 14px;
}

ul, ol {
  margin: 16px;
  padding-left: 10px;
  list-style-type: circle;
}

li {
  line-height: 1.6;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.625%;
}

nav li {
  list-style-type: none;
  margin-bottom: 3rem;
}

nav li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  border: 1px dashed;
  font-size: 2em;
  text-align: center;
}